{
  "openapi": "3.1.0",
  "info": {
    "title": "Pinax SQL API (Beta)",
    "description": "Collection of SQL based APIs by built on top of Pinax MCP Server (powered by Substreams).",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://beta.api.pinax.network",
      "description": "Pinax SQL API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Token Balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "number"
                    },
                    "date": {
                      "type": "string"
                    },
                    "contract": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "timestamp",
                    "date",
                    "contract",
                    "amount"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "contract": "0xd6e1401a079922469e9b965cb090ea6ff64c6839",
                      "amount": "8974208837245497768568420",
                      "timestamp": 1529003200,
                      "date": "2018-06-14"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBalancesEvmByAddress",
        "description": "Token Balances by Wallet Address",
        "tags": [
          "EVM"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "chain_id",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/transfers/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Token Transfers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "number"
                    },
                    "date": {
                      "type": "string"
                    },
                    "contract": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "timestamp",
                    "date",
                    "contract",
                    "from",
                    "to",
                    "value"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "contract": "0x27695e09149adc738a978e9a678f99e4c39e9eb9",
                      "from": "0x2b5634c42055806a59e9107ed44d43c426e58258",
                      "to": "0xa78c4208fe4fedd86fc90fad93d6fb154c3936a4",
                      "value": "8000000000000",
                      "timestamp": 1529002377,
                      "date": "2018-06-14"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTransfersEvmByAddress",
        "description": "Token Transfers by Wallet Address",
        "tags": [
          "EVM"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "chain_id",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/holders/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Token Holders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "number"
                    },
                    "date": {
                      "type": "string"
                    },
                    "contract": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "timestamp",
                    "date",
                    "contract",
                    "amount"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "contract": "0x27695e09149adc738a978e9a678f99e4c39e9eb9",
                      "amount": "1239979319084415",
                      "timestamp": 1529002377,
                      "date": "2018-06-14"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getHoldersEvmByContract",
        "description": "Token Holders by Contract Address",
        "tags": [
          "EVM"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "chain_id",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "Health status of the API",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "OK"
              }
            }
          },
          "403": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "authentication_failed"
                }
              }
            }
          },
          "500": {
            "description": "Database Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "bad_database_response"
                }
              }
            }
          },
          "502": {
            "description": "Connection Refused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 502,
                  "code": "connection_refused"
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "description": "Get health status of the API",
        "tags": [
          "Monitoring"
        ],
        "parameters": []
      }
    },
    "/version": {
      "get": {
        "responses": {
          "200": {
            "description": "The version of the API",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "version",
                    "commit"
                  ]
                },
                "example": {
                  "version": "0.1.0",
                  "commit": "b021878"
                }
              }
            }
          }
        },
        "operationId": "getVersion",
        "description": "Get the version of the API",
        "tags": [
          "Monitoring"
        ],
        "parameters": []
      }
    }
  }
}
