{
  "openapi": "3.1.0",
  "info": {
    "title": "Pinax Token API (Beta)",
    "description": "Collection of SQL based APIs by built on top of Pinax MCP Server (powered by Substreams).",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://token-api.service.pinax.network",
      "description": "pinax-token-api"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "chain_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "contract",
                          "amount",
                          "symbol",
                          "decimals",
                          "chain_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "elapsed": {
                              "type": "number"
                            },
                            "rows_read": {
                              "type": "number"
                            },
                            "bytes_read": {
                              "type": "number"
                            }
                          }
                        },
                        "rows": {
                          "type": "number"
                        },
                        "rows_before_limit_at_least": {
                          "type": "number"
                        },
                        "request_time": {
                          "type": "string"
                        },
                        "duration_ms": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "contract": "0xd6e1401a079922469e9b965cb090ea6ff64c6839",
                      "amount": "8974208837245497768568420",
                      "timestamp": 1529003200,
                      "date": "2018-06-14"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBalancesEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "chain_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Token Balances by Wallet Address",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/transfers/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "chain_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "contract",
                          "from",
                          "to",
                          "amount",
                          "symbol",
                          "decimals",
                          "chain_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "elapsed": {
                              "type": "number"
                            },
                            "rows_read": {
                              "type": "number"
                            },
                            "bytes_read": {
                              "type": "number"
                            }
                          }
                        },
                        "rows": {
                          "type": "number"
                        },
                        "rows_before_limit_at_least": {
                          "type": "number"
                        },
                        "request_time": {
                          "type": "string"
                        },
                        "duration_ms": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "contract": "0x27695e09149adc738a978e9a678f99e4c39e9eb9",
                      "from": "0x2b5634c42055806a59e9107ed44d43c426e58258",
                      "to": "0xa78c4208fe4fedd86fc90fad93d6fb154c3936a4",
                      "value": "8000000000000",
                      "timestamp": 1529002377,
                      "date": "2018-06-14"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTransfersEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "chain_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "age",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 180,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Token Transfers by Wallet Address",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/holders/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "chain_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "address",
                          "amount",
                          "symbol",
                          "decimals",
                          "chain_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "elapsed": {
                              "type": "number"
                            },
                            "rows_read": {
                              "type": "number"
                            },
                            "bytes_read": {
                              "type": "number"
                            }
                          }
                        },
                        "rows": {
                          "type": "number"
                        },
                        "rows_before_limit_at_least": {
                          "type": "number"
                        },
                        "request_time": {
                          "type": "string"
                        },
                        "duration_ms": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 20581510,
                      "timestamp": 1724297855,
                      "date": "2024-08-22",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "amount": "120000000000000000000000",
                      "decimals": 18,
                      "symbol": "GRT",
                      "chain_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getHoldersEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "chain_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Token Holders by Contract Address",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "Health status of the API",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "OK"
              }
            }
          },
          "403": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "authentication_failed"
                }
              }
            }
          },
          "500": {
            "description": "Database Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "bad_database_response"
                }
              }
            }
          },
          "502": {
            "description": "Connection Refused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 502,
                  "code": "connection_refused"
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get health status of the API"
      }
    },
    "/version": {
      "get": {
        "responses": {
          "200": {
            "description": "The version of the API",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "version",
                    "commit"
                  ]
                },
                "example": {
                  "version": "0.1.0",
                  "commit": "unknown"
                }
              }
            }
          }
        },
        "operationId": "getVersion",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get the version of the API"
      }
    }
  }
}
