{
  "openapi": "3.1.0",
  "info": {
    "title": "Pinax Token API (Beta)",
    "description": "Collection of SQL based APIs by built on top of Pinax MCP Server (powered by Substreams).",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://token-api.service.pinax.network",
      "description": "pinax-token-api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "contract",
                          "amount",
                          "symbol",
                          "decimals",
                          "network_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "elapsed": {
                              "type": "number"
                            },
                            "rows_read": {
                              "type": "number"
                            },
                            "bytes_read": {
                              "type": "number"
                            }
                          }
                        },
                        "rows": {
                          "type": "number"
                        },
                        "rows_before_limit_at_least": {
                          "type": "number"
                        },
                        "request_time": {
                          "type": "string"
                        },
                        "duration_ms": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22067152,
                      "timestamp": 1742221043,
                      "date": "2025-03-17",
                      "contract": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                      "amount": "159482036593475716150538",
                      "decimals": 18,
                      "symbol": "ETH",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBalancesEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Token Balances by Wallet Address",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transfers/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "contract",
                          "from",
                          "to",
                          "amount",
                          "symbol",
                          "decimals",
                          "network_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "elapsed": {
                              "type": "number"
                            },
                            "rows_read": {
                              "type": "number"
                            },
                            "bytes_read": {
                              "type": "number"
                            }
                          }
                        },
                        "rows": {
                          "type": "number"
                        },
                        "rows_before_limit_at_least": {
                          "type": "number"
                        },
                        "request_time": {
                          "type": "string"
                        },
                        "duration_ms": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22049790,
                      "timestamp": 1742011715,
                      "date": "2025-03-15",
                      "contract": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                      "from": "0x5a52e96bacdabb82fd05763e25335261b270efcb",
                      "to": "0x28c6c06298d514db089934071355e5743bf21d60",
                      "amount": "200000000000000",
                      "decimals": 6,
                      "symbol": "USDC",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTransfersEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "age",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 180,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Token Transfers by Wallet Address",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/holders/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "address",
                          "amount",
                          "symbol",
                          "decimals",
                          "network_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "elapsed": {
                              "type": "number"
                            },
                            "rows_read": {
                              "type": "number"
                            },
                            "bytes_read": {
                              "type": "number"
                            }
                          }
                        },
                        "rows": {
                          "type": "number"
                        },
                        "rows_before_limit_at_least": {
                          "type": "number"
                        },
                        "request_time": {
                          "type": "string"
                        },
                        "duration_ms": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 20581510,
                      "timestamp": 1724297855,
                      "date": "2024-08-22",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "amount": "120000000000000000000000",
                      "decimals": 18,
                      "symbol": "GRT",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getHoldersEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Token Holders by Contract Address",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "OK"
              }
            }
          },
          "403": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "authentication_failed"
                }
              }
            }
          },
          "500": {
            "description": "Database Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "bad_database_response"
                }
              }
            }
          },
          "502": {
            "description": "Connection Refused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 502,
                  "code": "connection_refused"
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get health status of the API"
      }
    },
    "/version": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "version",
                    "commit"
                  ]
                },
                "example": {
                  "version": "0.1.0",
                  "commit": "unknown"
                }
              }
            }
          }
        },
        "operationId": "getVersion",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get the version of the API"
      }
    },
    "/networks": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "networks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "shortName": {
                            "type": "string"
                          },
                          "caip2Id": {
                            "type": "string"
                          },
                          "networkType": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "web3Icons": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "web3Icons"
                            ]
                          },
                          "alias": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "fullName",
                          "shortName",
                          "caip2Id",
                          "networkType",
                          "icon",
                          "alias"
                        ]
                      }
                    }
                  },
                  "required": [
                    "networks"
                  ]
                },
                "example": {
                  "networks": [
                    {
                      "id": "mainnet",
                      "fullName": "Ethereum Mainnet",
                      "shortName": "Ethereum",
                      "networkType": "mainnet",
                      "nativeToken": "ETH",
                      "caip2Id": "eip155:1",
                      "icon": {
                        "web3Icons": {
                          "name": "ethereum"
                        }
                      },
                      "aliases": [
                        "ethereum",
                        "eth",
                        "eth-mainnet",
                        "evm-1"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getNetworks",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get supported networks of the API"
      }
    }
  }
}
